#main_book{
  height: 75%;
  width: 75%;
  margin-left: 13%;
  /*border:1px solid black ; */
    background: url(../images/trapezi-drakos-1.png) no-repeat center bottom;
  background-size: 100% 70%;


}

#small_images{
  float: left;
  margin-right: 0%;
  height: 100%;
  width: 10%;
      /*border:1px solid orange ; */

}

#cover{
  height: 30%;
  width: 90%;
  margin-top: 40%;
  margin-left: 5%;
  border-radius: 15px;
  border: 2px solid #73AD21;
  background: white;

}

#back_cover{
  height: 30%;
  width: 90%;
  margin-top: 20%;
  margin-left: 5%;
  border-radius: 15px;
  border: 2px solid red;
  background: white;

}

.mini_img{
  height: 80%;
  width: 80%;
  margin-left: 10%;
  margin-top: 15%;
}

.big_img{
  height: 91%;
  width: 95%;
  right: 0px;
  margin-left: 5%;
  margin-top: 0%;
}

.big_img:hover {opacity: 0.7;}
#small_images :hover img {
    -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
    transform:scale(1.15);
}

#show_image{
  float: left;
  height: 100%;
  width: 30%;
  margin-right: 1%;
        /*border:1px solid orange ; */

}


#image_area{
  float: left;
  height: 80%;
  width: 90%;
  margin: 0px 0px 0px 0px;
          /*border:1px solid orange ; */

}
#mark_area{
  float: left;
  height: 70%;
  width:10%;
  margin-top: 6%;
  margin-left: 0px;
  margin-right:0px;
          /*border:1px solid orange ; */

}

.mark_img{
  margin-top: 5%;
  margin-bottom: 3%;
  height: 8%;
  width: 100%;
}

#main_characteristics{
  float: left;
  height: 100%;
  width: 58%;
            /*border:1px solid orange ; */

  /*background: url(../images/dragon-2.png) no-repeat right bottom;*/

}

#main_characteristics_top{
  height: 89%;
  width: 95%;
  margin-top: 1%;
  margin-left: 2%;
  padding-left: 3%;
  overflow-y: scroll;
              /*border:1px solid red ; */


}

#main_characteristics_bottom{
  height: 40%;
  width: 60%;
  margin-top: 0%;
  margin-left: 2%;
  display: none;
              border:1px solid red ; 

}

.main_characteristics_table {
  width: 100%;
  /*border: 1px solid black;*/
  text-align: center;
}


.main_characteristics_table tr, td{
  /*width: 50%;*/
  /*border: 1px solid black;*/
}


.main_characteristics_table_2{
  width: 100%;
  /*border: 1px solid black;*/
  text-align: center;
  /*padding: 10px 10px 10px 10px;*/
}
.main_characteristics_table_2 td{
  padding: 5px 5px 5px 5px;

}
.title_div{
  text-align: center;
  border-radius: 15px;
  background: rgb(35, 184, 219);
  margin-bottom: 1px;
  
}
.title_div h4{
  color: white;
  padding: 5px 5px 5px 5px;

}

.data_div{
  border-radius: 15px;
  border: 3px solid rgb(35, 184, 219);
  background-color: white;
  word-wrap: break-word;
  text-align: center;
  margin-top: 1px;

}

.data_div h4 {
  color: rgb(35, 184, 219);
  padding: 0px 0px 0px 0px;
   margin-top: 3px;
  margin-bottom: 3px;
  
}

.title_div_2{
  float:left;
  text-align: center;
  border-radius: 15px;
  background: rgb(35, 184, 219);
  
}

.title_div_2 h4{
  color: white;
  padding: 0px 0px 0px 0px;
  margin-top: 5px;
  margin-bottom: 5px;

}

.data_div_2{
  float: left;
  border-radius: 15px;
  border: 3px solid rgb(35, 184, 219);
  background-color: white;
  word-wrap: break-word;
  text-align: center;
  
}

.data_div_2 h4 {
  color: rgb(35, 184, 219);
  padding: 0px 0px 0px 0px;
  margin-top: 3px;
  margin-bottom: 3px;
}

#categories_nav{
  height: 7%;
  width: 70%;
  margin-left: 15%;
  margin-top: 0.5%;
}

.categories_tab{
  float:left;
  width: 16%;
  height: 100%;
  margin-right: 0.1%;
  /*border: 1px solid green;*/

}

.tab_img{
  height: 100%;
  width: 100%;
}

.categories_box{
  /*height: 20%;*/
  width: 70%;
  border-radius: 24px;
  margin-left: 15%;
  padding-top: 10px;
  padding-bottom: 10px;

  /*overflow-y: scroll;*/
  /*border: 1px solid red;*/

}

.keywords_area {
  height: 100%;
  width: 80%;
  margin-left: 10%;
}

.keywords_area h3{
  margin-left: 5%;
}

.keywords_area h4{
  margin-left: 10%;
  /*color: rgb(35, 184, 219);*/

}
.categories_box h4{
  margin-left: 7%;
  margin-right: 5%;
}

#title_area {
    height: 12%;
    width: 100%;
    /*border: 2px solid black;*/
    text-align: left;
}


/* The Modal (background) */
.my-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.my-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image */
#modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Caption of Modal Image */
#modal-caption-2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.my-modal-content, #modal-caption, #modal-caption-2 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}


.modal-close:hover,
.modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .my-modal-content {
        width: 100%;
    }
}