html, body {
	  height:100%;
      background: url(../images/backround-tra.png) no-repeat center center fixed;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: 80% 100%;
      
}


h1, h2, h3, h4, p, a, label, td, li{
  font-family: "Open Sans"; 
  font-weight: bold;
}
header{
  margin-left: 0%;
	height: 23%;
	width:100%;
	text-align: center;
  position: fixed;
  top: 0;
  margin-top: 0%;
	/*background-color: black; */
	background: url(../images/header-bookelook-5.png) no-repeat center center; 
    /*background: url(../images/hed.png) no-repeat center center; */

	background-size: 100% 100% ;
  position: relative;

}

footer{
  width: 100%;
  text-align: center;
}

.my_nav{
   display: inline-block;
   position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.05%;
    margin: auto;
  }

.my_nav li {
	display: inline;
    margin-right:2%;

}
.my_nav  a{
	display: inline-block;

}
.my_nav a:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}
#main{
  height: 95%;
  width:80%;
  margin-left: 10%;
  background: url(../images/index-back-01-01.png) no-repeat center top;
  background-size: 96% 100% ;
  /*float: left;*/
  border: 1px solid rgba(1, 1, 255, 0);

}

#cotact-side{
  /*float: left;*/
  width: 8%;
  margin-left: 0%;
  margin-top: 15%;
  height: 15%;
  background: url(../images/dialog-side-3.png) no-repeat center center;
  background-size: 100% 100%;
}

#main-top{
  /*border:4px solid black ; */
  height: 65% ;
  width:100%
}

#contact-info{
  float:left;
  height: 100%;
  width: 10%;
}

#contact-link-div{
  width: 100%;
  height: 9%;
  background: url(../images/dialog.png) no-repeat center center;
  background-size: 100% 100%; 
  text-align: center;
}

#contact-link-div p {
  padding-top: 3%;
  font-size: 12px;
}

#main-bottom{
  /*border:4px solid black ;*/
  height: 35% ;
  width:95%;
  margin-left: 2%;
  margin-top: 4%;
}

#new_inserts{
  float: left;
  height: 99%;
  width: 35%;
  margin-left: 5%;
  margin-right: 0%;
  margin-top: 0.1%;
  background: url(../images/news2.png) no-repeat right center;
  background-size: 100% 100%;
    /*border:4px solid black ; */

}

#new_books_show{
  height: 48%;
  width: 83%;
  margin-top: 6%;
  margin-left: 10%;
  overflow-y: scroll;
  text-align: center;
    /*border:1px solid black ; */

}

#middle{
  float: left;
  height: 100%;
  width: 25%;
  margin-top: 0%;
  margin-right: 0%;
      /*border:4px solid black ; */

}


#facebook_div{
  float: left;
  position: relative;
  height: 100%;
  width: 50%;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-right: 0%;

}

#facebook_icon{
   position: absolute;
   bottom: 0px;
  right: 0px;
}

#instagram_div{
  float: left;
  position: relative;
  height: 100%;
  width: 50%;
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
}

#instagram_icon{
  position: absolute;
  bottom: 0px;
  left: 0px;
}


#anakinosis{
  float: left;
  height: 99%;
  width: 35%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0.1%;
  background: url(../images/anakinosis.png) no-repeat left center;
  background-size: 100% 100%;
    /*border:4px solid black ;*/

}

#anakinosis_show{
  height: 50%;
  width: 80%;
  margin-top: 7%;
  margin-left: 10%;
  /*overflow-y: scroll;*/
  text-align: center; 
      /*border:1px solid black ;*/
}

#search_bar_book{
  height: 100%;
  width:70%;
  margin-left: 15%;
  float:left;
  margin-right: 0%;
  /*border:4px solid red ;*/
}



#search{
    width:60%;
    height: 21%;
    margin-left: 20%;
    /*border:1px solid yellow;*/
}

#search_bar{
    height: 100%;
    background: url(../images/search.png) no-repeat center center;
    background-size: 50% 75% ;
    background-position:center top;
    text-align: center;
    /*border:1px solid red;*/

}

#search_box_dropdown{

    width:35%;
    background: url(../images/search_box.png) no-repeat center center;
    background-size: 50% 100% ;
    text-align: center;
    height: 72%;
    /*border:1px solid green;*/
    position:fixed;
    background-position:50% 50%;
    z-index: 2;
}
.search_box_dropdown_elements{
    /*border:1px solid yellow;*/
    height: 100%;
    width:50%;
    margin-left: 25%;

}
.search_box_dropdown_elements #search_header {
    height: 13%;
    width:95%;
    text-align: right;
    position:relative;
}
.search_box_dropdown_elements #search_header #close_button{
    height: 50%;
    width:100%;
    position:absolute;
    bottom: 0px;
    right: 0px;
}

.search_box_dropdown_elements #search_header #close_button img{
    width:10%;
    height: auto;
    margin-top: 2%;
}
.search_box_dropdown_elements #search_elements{
    width:80%;
    height:80%;
    /*border:1px solid rosybrown;*/
    padding:5px;
    margin-left: 10%;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;

}
.keyword{
    width:100%;
    margin-bottom: 2%;
}

#keywords_Autofill_div{
    width:85%;
    float: left;


}

#keywords_button_add{
    width:15%;
    float: left;

}
#keyword_required{
    display: none;
    color: red;
}
.search_box_dropdown_elements #search_footer {
    width:100%;
    height: 7%;
    /*border:1px solid purple;*/
}

#search_submit{
    margin-top: 1%;
    border-radius: 24px;
    width: 100%;
    height: 100%;
}



#book{
  height: 65%;
  width:100%;
  margin-top: 2%;
  /*border:4px solid yellow ; */
  

}

.bookmarks{
  height: 20%;
  width:100%;
  margin-top: 1%;
  /*border:4px solid blue ; */

}

.bookmark_left{
  height: 18%;
  width:80%;
  margin-top: 2%;
  /*border:1px solid green ; */
  text-align: right;
  margin-left: 20%;

}

.bookmark_tag{
  height:100%;
}

.bookmark_tag_new{
  height:100%;
  width: 100%;
}

.bookmark_right{
  height: 20%;
  width:80%;
  margin-top: 2%;
  margin-left: 0%;
  text-align: left;

}
.bookmark_right_2{
  height: 18%;
  width:80%;
  margin-top: 2%;
  margin-left: 0%;
  text-align: left;

}

.inline_divs{
  display: inline-block;
  height: 100%;
  width:32.8%;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
    /*border:4px solid orange ; */

}
.bookmarks_left{
  /*display: inline-block;*/
  float: left;
  height: 100%;
  width:25%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
      /*border:1px solid orange ; */

}

.book_img{
  /*display: inline-block;*/
  float: left;
  height: 100%;
  width:48%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  /*border:1px solid orange ; */
  background: url(../images/book-2.png) no-repeat center;
  background-size: 100% 100%;  

}

.bookmarks_right{
  /*display: inline-block;*/
  float: left;
  height: 100%;
  width:25%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right:0px;
  /*border:1px solid orange ; */

}




.myhr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 2px solid #8a6d3b;
}

.myhr_2 {
  margin-top: 5px;
  margin-bottom: 5px;
  width:70%;
  margin-left: 15%;
  border: 0;
  border-top: 2px solid #8a6d3b;
}


#subcategories_area{
  height: 81%;
  width: 88%;
  margin-left: 7%;
  margin-top: 6%;
  /*border: 3px solid red;*/
  /*overflow-y: scroll;*/

}

.subcategories_table{
  height: 100%;
  width: 100%;
  margin: 0% 0% 0% 0%;
    padding: 0px 0px 0px 0px;
    text-align: center;

}
.subcategories_table td{
  width: 45%;
  padding-left: 1%;
  padding-right: 1%;
    /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
    /*font-weight: bold;*/
    /*border-bottom:1pt solid black;*/
  /*margin: 5% 5% 5% 5%;*/

  /*background-color: #ffe6b3; */
}

.subcategories_table td a{
  color:#8a6d3b;
}

/*.subcategories_table td a:link{
  color:black;
}*/

.subcategories_table td a:visited {
  text-decoration: none;

}

.subcategories_table td a:hover {
  text-decoration: underline;
}

.subcategories_table td a:active {
  text-decoration: underline;
}
.subcategories_table .page_background td{
  background-color: rgba(195, 185, 185, 0.62);
}


.carusel_img{
  width: 70%;
  height: inherit;
  margin: auto;
}

.item{
  height: 100%;
  width: 100%;
}

.carousel-inner{
  height: 100%;
  width: 100%;
}

.ui-autocomplete-input{
    background-color: transparent !important;

}


.carousel-content {
    color:#8a6d3b;
    height: 100%;
    width: 90%;

    /*display:flex;*/
    /*align-items:center;*/
}

#text-carousel {
  width: 100%;
  height: 100%;
  /*padding: 50px;*/
}


.carousel-control.right{
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(138, 109, 59, 0.62) 100%);
}

.carousel-control.left{
    background-image: linear-gradient(to right,rgba(138, 109, 59, 0.62) 0,rgba(0,0,0,.0001) 100%);

}