html, body {
	  height:100%;
      background: url(../images/backround-tra.png) no-repeat center center fixed;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: 80%;

}

header{
  margin-left: 0%;
	height: 23%;
	width:100%;
	text-align: center;
	/*background-color: black; */
	background: url(../images/he1-01.png) no-repeat center center; 
	background-size: 100% 100% ;
  position: relative;

}

.my_nav{
   display: inline-block;
   position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.05%;
    margin: auto;
  }

.my_nav li {
	display: inline;
    margin-right:2%;

}
.my_nav  a{
	display: inline-block;

}

#main{
  height: 77%;
  width:80%;
  margin-left: 10%;
  background: url(../images/main-wide-01.png) no-repeat center center; 
  background-size: 96% 100% ;

}

#main-top{
  border:4px solid black ; 
  height: 65% ; 
  width:100%
}

#search_bar_book{
  height: 100%;
  width:50%;
  margin-left: 25%;
  border:4px solid red ; 


}

#search_bar{
  height: 15%;
  width:80%;
  margin-left: 10%;
  margin-top: 3%;
  border:4px solid yellow ; 
}

#book{
  height: 55%;
  width:80%;
  margin-left: 10%;
  margin-top: 10%;
  border:4px solid yellow ; 
  background: url(../images/book.png) no-repeat center; 

}
