#main_phylosophy{
	height: 77%;
  	width:80%;
  	margin-top: 0%;
  	margin-left: 10%;
  	background: url(../images/phylosophy-1.png) no-repeat center top;
  	background-size: 90% 100% ;
  	border: 1px solid rgba(1, 1, 255, 0);
}

#phylosophy_area{
	height: 50%;
	width: 31%;
	margin-top: 7%;
	margin-left: 35%;
	/*border: 3px solid black;*/
	overflow-y: scroll;
	padding-right: 5px;

}

#main_blog{
	height: 77%;
  	width:80%;
  	margin-top: 0%;
  	margin-left: 10%;
  	background: url(../images/blog-1.png) no-repeat center top;
  	background-size: 90% 100% ;
  	border: 1px solid rgba(1, 1, 255, 0);
}

#blog_area{
	height: 50%;
	width: 31%;
	margin-top: 7%;
	margin-left: 35%;
	/*border: 3px solid black;*/
	overflow-y: scroll;
	padding-right: 5px;
}

#main_contact{
	height: 77%;
  	width:80%;
  	margin-top: 0%;
  	margin-left: 10%;
  	background: url(../images/contact.png) no-repeat center top;
  	background-size: 90% 100% ;
  	border: 1px solid rgba(1, 1, 255, 0);
}

#main_comingsoon{
	height: 77%;
  	width:80%;
  	margin-top: 0%;
  	margin-left: 10%;
  	background: url(../images/comming.png) no-repeat center top;
  	background-size: 90% 100% ;
  	border: 1px solid rgba(1, 1, 255, 0);
}

#comingsoon_area{
	height: 50%;
	width: 31%;
	margin-top: 5%;
	margin-left: 38%;
	/*border: 3px solid black;*/
	/*overflow-y: scroll;*/
	padding-right: 5px;
}


#kapelo{
	color:#26B8DB;
	text-decoration: underline;
}

#ergalio{
	color:#26B8DB;
	text-decoration: underline;
}

