#main_phylosophy{
	height: 77%;
  	width:80%;
  	margin-top: 0%;
  	margin-left: 10%;
  	background: url(../images/phylosophy-1.png) no-repeat center top;
  	background-size: 90% 100% ;
  	border: 1px solid rgba(1, 1, 255, 0);
}

#phylosophy_area{
	height: 50%;
	width: 31%;
	margin-top: 7%;
	margin-left: 35%;
	/*border: 3px solid black;*/
	overflow-y: scroll;
	padding-right: 5px;
	float: left;

}

#contact-info-area{
	float: left;
	height: 100%;
	width: 20%;
	margin-left: 4%;
}

#contact-info-area-div{
	width: 80%;
	height: 20%;
	margin-left: 5%;
	margin-top: 30%;
	background: url(../images/dialog-zavo.png) no-repeat center center;
	background-size: 80% 100%;
	text-align: center;
}

#contact-info-area-div p {
	padding-top: 20%;
	padding-left: 15%;
	padding-right: 15%;
}

#main_blog{
	height: 77%;
  	width:80%;
  	margin-top: 0%;
  	margin-left: 10%;
  	background: url(../images/blog-1.png) no-repeat center top;
  	background-size: 90% 100% ;
  	border: 1px solid rgba(1, 1, 255, 0);
}

#blog_area{
	height: 50%;
	width: 31%;
	margin-top: 7%;
	margin-left: 35%;
	/*border: 3px solid black;*/
	overflow-y: scroll;
	padding-right: 5px;
	float: left;
}

#main_contact{
	height: 77%;
  	width:80%;
  	margin-top: 0%;
  	margin-left: 10%;
  	background: url(../images/contact.png) no-repeat center top;
  	background-size: 90% 100% ;
  	border: 1px solid rgba(1, 1, 255, 0);
}

#main_comingsoon{
	height: 77%;
  	width:80%;
  	margin-top: 0%;
  	margin-left: 10%;
  	background: url(../images/comming.png) no-repeat center top;
  	background-size: 90% 100% ;
  	border: 1px solid rgba(1, 1, 255, 0);
}

#comingsoon_area{
	height: 50%;
	width: 31%;
	margin-top: 5%;
	margin-left: 38%;
	/*border: 3px solid black;*/
	/*overflow-y: scroll;*/
	padding-right: 5px;
}


#kapelo{
	color:#26B8DB;
	text-decoration: underline;
}

#kapelo:hover, #ergalio:hover, .blog_title:hover{
	font-size: 150%;
}

#ergalio{
	color:#26B8DB;
	text-decoration: underline;
}

.blog_title{
	color:#26B8DB;
	text-decoration: underline;
}

.blog_img {
	width:40%;
	height: auto;
	margin-left: 25%;
}

