#main_phylosophy{
	height: 70%;
  	width:80%;
  	margin-top: 0%;
  	margin-left: 10%;
  	background: url(../images/phylosophy-1.png) no-repeat center top;
  	background-size: 90% 100% ;
  	border: 1px solid rgba(1, 1, 255, 1);
}

#phylosophy_area{
	height: 50%;
	width: 33%;
	margin-top: 7%;
	margin-left: 33%;
	/*border: 3px solid black;*/
	overflow-y: scroll;
}