label{
  font-family: "Open Sans"; 
  font-weight: bold;
}
#main_search {
  height: 100%;
  width:80%;
  margin-left: 10%;
  background: url(../images/main-search-3.png) no-repeat center bottom; 
  background-size: 90% 80% ;

}
#search_box{
  margin-top: 0%;
  height: 19%;
  width: 80%;
    margin-left:10%;
  /*position: absolute;*/
  border:3px solid #33ccff ;
    border-radius: 24px;
  background-color: white;

}

#results {
  height: 50%;
  width: 70%;
  margin-top: 1%;
  margin-left: 20%;
  /*border:1px solid orange ;*/
  overflow-y: scroll;


}
#not_found_query{
    width:95%;
    height: 10%;
    margin-left:5%;
    margin-bottom:2%;
}
#table_of_books{
    /*border:2px solid yellow;*/
    width:95%;
    height: 90%;
    margin-left:5%;

}

#table_of_books .row{
    /*border:2px solid blue;*/
    width:100%;
    height:50%;
    margin-bottom: 3%;

}
#table_of_books .column{
    /*border:2px solid green;*/
    width: 32%;
    height:100%;
    float: left;
    margin-right: 1%;


}
#show_image{
    /*border:2px solid red;*/
    width:100%;
    height: 100%;
}
#book_title{
    /*border:2px solid blue;*/
    height: 22%;
    width: 100%;
    text-align: center;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: small;
}
#mark_image{
    /*border:2px solid blue;*/
    height: 63%;
    width: 50%;
    margin-left: 25%;
}
#image_area{
    /*border:2px solid grey;*/
    width:85%;
    height: 100%;
    float: left;

}

#mark_area{
    /*border:2px solid grey;*/
    width:15%;
    height: 100%;
    float: right;
}
.mark_img{
    width:100%;
    height: 20%;
}

.small_img{
    width: 100%;
    height: 100%;
    margin-bottom:5%;

}

#more_button{
    /*border:2px solid red;*/
    height: 15%;
    width: 100%;
    text-align: center;
}
.search_book{
    margin-top: 1%;
    border-radius: 24px;
    background-color: orange;
}


#up_box{
  width:100%;
  height: 50%;
    margin-top: 1%;
  /*border:2px solid green;*/

}
#down_box{
  width:100%;
  height: 50%;
  /*border:2px solid blue;*/


}



.form-group{
  width:23%;
  float: left;
  margin: 0% 1% 1% 1%;
}
.keyword{
    width:90%;
    margin-left: 5%;
    margin-bottom: 2%;
}
.keyword_main{
    width:90%;
    margin-left: 5%;
    margin-bottom: 2%;
}

#keywords_Autofill_div{
  width:85%;
  float: left;

}

#keywords_button_add{
  width:15%;
  float: left;

}
#keyword_required{
    display: none;
    color: red;
}
#search_button{
  width:23%;
  height: 100%;
  float: left;
  margin: 0% 0% 1% 1%;
}
#search_button button{
  height: 50%;
  margin-top:7%;
  margin-bottom: 7%;
}
